<% content_for :content do %>
  <p class="h1 mb-4">
    <%= @category_description %>
  </p>
  <%= render partial: "shared/site/advertisements/advertisements" %>
<% end %>
<%= render partial: "shared/site/content" %>
