<!-- Related items section-->
<section class="py-5 bg-light" id="related_items_section">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4"><%= t 'layout.text.site.related_products' %></h2>
    <%= render partial: "shared/site/advertisements/advertisements", locals: {paginate: 'false'} %>
  </div>
</section>
