<div class="modal fade" id="app_modal" tabindex="-1" aria-labelledby="app_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="app_modal_title"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="app_modal_body">
      </div>
    </div>
  </div>
</div>
