<div class="modal fade" id="app_modal_spin" tabindex="-1" aria-labelledby="app_modal_label" aria-hidden="true" data-turbolinks-permanent>
  <div class="modal-dialog">
    <div class="d-flex align-items-center">
      <div class="spinner-border text-light ms-auto" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
