<h1>Backoffice::Dashboard#index</h1>
<p>Find me in app/views/backoffice/dashboard/index.html.erb</p>
<div class="col-xl-3 col-md-6">
  <div class="card bg-primary text-white mb-4">
    <div class="card-body">Primary Card</div>
    <div class="card-footer d-flex align-items-center justify-content-between">
      <a class="small text-white stretched-link" href="#">View Details</a>
      <div class="small text-white"><i class="fa-solid fa-angle-right"></i></div>
    </div>
  </div>
</div>
